/__pycache__
/build
/dist
/output
/.venv-build
/tables
/data
main.spec
/node_translator/__pycache__
/relic_translator/__pycache__
.cache
.settings.json
/.qa
/.qa-*
/tests/__pycache__
/analyzer/__pycache__
/rune_translator/__pycache__
